.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__u8Wpu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-Trel2FQBCot8);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__u8Wpu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__u8Wpu > :global(.__wab_flex-container) > *,
.freeBox__u8Wpu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u8Wpu > :global(.__wab_flex-container) > picture > img,
.freeBox__u8Wpu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__u8Wpu {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__u8Wpu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__u8Wpu > :global(.__wab_flex-container) > *,
  .freeBox__u8Wpu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__u8Wpu > :global(.__wab_flex-container) > picture > img,
  .freeBox__u8Wpu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
}
.freeBox__trVMk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  align-self: center;
}
.freeBox__trVMk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__trVMk > :global(.__wab_flex-container) > *,
.freeBox__trVMk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__trVMk > :global(.__wab_flex-container) > picture > img,
.freeBox__trVMk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__trVMk {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__rIuXg:global(.__wab_instance) {
  position: relative;
}
.svg__yPwg4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__n1BRl {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__ohK2F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ayub:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__ayub:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__ofoe3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__s5DBy {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__fnUoz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___11NAe:global(.__wab_instance) {
  position: relative;
}
.svg__cS86S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ypUmG {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__wHyW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__grQi8 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__grQi8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (max-width: 930px) {
  .freeBox__grQi8 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__grQi8 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__grQi8 > :global(.__wab_flex-container) > *,
  .freeBox__grQi8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__grQi8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__grQi8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__zaJ0D:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__zaJ0D:global(.__wab_instance) {
    display: none;
  }
}
.svg__qQpJq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tkVm2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__gvUAs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ap9Pq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gvXh3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
